body {
	background-color: #87CEFA;
}

.header-name-h1 {
    margin-top: 0.67em;
    line-height: 1;
    font-weight: 700;
    font-size: 4.5em;
    color: white;
    font-family: "Raleway", Arial, sans-serif;
}

.header-name-h2 {
	margin-bottom: 0.67em;
    font-weight: 200;
    opacity: 0.6;
    color: white;
    font-family: "Raleway", Arial, sans-serif;

}

.header-section {
	position: relative;
	

}

.description-section {
	background-color: #E0FFFF;
	position: relative;
}
